#cl{
    text-align:center;
    display :block;
    font-size :10em;
    font-family:Helvetica;
}

#buttonContainer{
    text-align:center;
}

.button{
    background-color:black;
    padding: 10px 20px;
    font-size:2em;
    color:#e4671a;
    border-radius:20px;
    cursor:pointer;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: #d6e22b;
}